/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

/* Estilos de tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

input[type="number"], input[type="text"], input[type="date"] {
    width: 100px;
}

input[type="text"], input[type="date"] {
    width: 250px;
}

.total {
    font-weight: bold;
}

/* Contenedor de botones */
.botones-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* Estilos para los botones */
button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    color: rgb(14, 2, 2);
    flex: 1 1 45%; /* Asegura que dos botones se alineen en una fila */
}

/* Colores intercalados */
button:nth-child(odd) {
    background-color: #838683; /* Verde */
}

button:nth-child(even) {
    background-color: #c7c2c0; /* Naranja */
}

button:hover {
    opacity: 0.8;
}

/* Ajustes para pantallas grandes (3 botones a la izquierda y 3 a la derecha) */
@media (min-width: 768px) {
    .botones-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    button {
        width: 90%;
        margin: 10px auto;
    }
}

/* Estilos para pantallas pequeñas (en columna) */
@media (max-width: 767px) {
    .botones-container {
        flex-direction: column;
    }

    button {
        width: 100%;
        margin: 10px 0;
    }
}
